<head>
    <title>NFL Season</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
<h3> NFL Season </h3>
<ol>
    <li>Patriots</li>
    <li>Broncos</li>
    <li>Steelers</li>
    <li>Colts</li>
</ol>
</br>
<h3> Link to Leaderboard </h3>





