<head>
    <title>NFL Season</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
<h3> NFL Season </h3>
<ol>
    <% @teams.each do |team|   %>
      <li><p><a href=<%="#{team[:teams]}"%>></a></p></li>
</ol>
</br>
<h3> Link to Leaderboard </h3>





