<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
</center>
<h1> Leaderboard </h1>
<p>
<ol>
  <% @ranking.each do |key, value| %>
    <li><%= "#{key}: #{value["win"]} - #{value["loss"]} " %></li>
  <% end %>
</ol>
</p>
</center>

<!-- Due to tight deadline I will not style this page until later -->
