<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NFL Teams</title>
    <link rel="stylesheet" href="styles.css" />
  </head>

  <body>


  <h1>
    Team
  </h1>

  <ul>
    <% @scores.each do |score| %>
      <li>
          <%= "#{score[:home_team]} #{score[:home_score]}" %>
      </li>
    <% end %>
  </ul>

  </body>
</html>
